:root {
  --primary-color: #2a6e11; /* Sierra Leone Flag Green */
  --secondary-color: #d5e241; /* Sierra Leone Flag Yellow */
  --background-color: #f4f4f9;
  --text-border: #ddd;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.hero-image {
  width: 100%;
  height: auto;
  display: block;
}

header {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(3, 155, 3);
}

header h1 {
  padding: 1em;
  text-align: center;
  color: whitesmoke;
  border-bottom: 1em solid rgb(31, 90, 252);
}

main {
  position: relative; /* relative positioning for the main section */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.data,
.weather {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Slight transparency */
  border-radius: 5px;
  text-align: center;
  z-index: 2;
}

/* Default styles (applies to all screens) */
.data,
.weather {
  position: relative; /* Default positioning for smaller screens */
}

/* Media Queries for wider screens */
@media (min-width: 800px) {
  /* Position the data section in the top right */
  .data {
    position: absolute; /* Position absolute to overlay the data section */
    top: 5%;
    right: 5%;
    width: 30%; /* Responsive width */
    max-width: 300px;
  }

  .weather {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 30%;
    max-width: 300px;
  }
}

.info-item,
.weather-item {
  padding: 10px;
  border: 1px solid var(--text-border);
  text-align: center;
}

.weather-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

footer {
  background-color: green;
  padding: 1em;
  text-align: center;
  color: white;
}

/* Media Queries */
@media (max-width: 600px) {
  .hero-image {
    height: auto;
  }
}
