* {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 1rem;
    padding: 1rem;
    max-width: 768px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(21, 39, 65);
}

header h1 {
    color: white;
}

#menu-toggle {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

#navigation {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 80%;
  background-color: rgb(1, 7, 15);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

#navigation a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 3px 0;
  padding: 1px;
  border: 1px solid white;
  width: 100%;
  background-color: rgb(46, 45, 45);
}

#navigation.active {
  display: flex; /* Show navigation when active */
}

#close-menu {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

main {
    margin: 0 auto;
    padding: 0em 1em;
    border: 1px solid grey;
}

main h2 {
    color: rgb(21, 39, 65);
    text-align: center;
    padding: .3em;
}

.figure-container {
    display:grid; grid-template-columns: repeat(auto-fill, minmax(1fr)); grid-gap: 25px;place-items: center;
}

main figure {
    padding: .3em;
}

main figure img {
    width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
    color: rgb(21, 39, 65);
    font-weight: bold;
}

footer {
  margin-bottom: 10px;
  grid-area: 3/1/4/3;
  text-align: center;
  background-color: rgb(21, 39, 65);
}

footer p {
  color: white;
}

.datemodified {
  color: yellow;
  font-weight: 400;
  font-size: small;
}
